/**
 * THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS
 * FOR A PARTICULAR PURPOSE. THIS CODE AND INFORMATION ARE NOT SUPPORTED BY XEBIALABS.
 */
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("opentype");
}

@font-face {
  font-family: "OpenSans";
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url("../fonts/open-sans/OpenSans-Italic-webfont.ttf") format("opentype");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url("../fonts/open-sans/OpenSans-Bold-webfont.ttf") format("opentype");
}

@font-face {
  font-family: "OpenSans";
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/open-sans/OpenSans-BoldItalic-webfont.eot');
  src: url('../fonts/open-sans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url("../fonts/open-sans/OpenSans-BoldItalic-webfont.ttf") format("opentype");
}

input,
button,
select,
textarea,
.button {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}