/**
 * THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS
 * FOR A PARTICULAR PURPOSE. THIS CODE AND INFORMATION ARE NOT SUPPORTED BY XEBIALABS.
 */
body {
  color: #353833;
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #757575;
}

.xl-deploy-logo {
  display: none !important;
}

.red {
  color: #a94442
}

.close {
  float: none;
  margin-left: 20px;
}

.error-indent {
  margin-left: 10px;
}

.xl-form-control {
  width: 70%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.has-error .xl-form-control {
  border-color: #a94442;
}

.props-info {
  width: 100%;
  border: solid 1px #ccc;
  margin-left: 50px;
  padding: 5px;
}

.props-info tr {
  border: solid 1px #ccc;
}

.props-info td {
  border: solid 1px #ccc;
  text-align: center;
  padding: 5px;
}

.props-header {
  color: #555;
  font-weight: bold;
}

.prop-name {
  color: #555;
  font-weight: bold;
}

.container-report {
  margin-top: 20px;
  padding-right: 0;
  padding-left: 0;
}

.medium-font {
  font-size: 13px;
}

.btn-reset,
.btn-reset:hover,
.btn-reset:focus,
.btn-reset:active,
.btn-reset.active {
  background-color: #ccc;
  color: white;
  margin-left: 10px;
}

.generic-task-error-box {
  color: #a94442;
  padding: 10px;
  border: red 1px solid;
  background-color: rgba(241, 222, 223, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  word-wrap: break-word;
}

.dark-class {
  filter: alpha(opacity=50); /* IE */
  opacity: 0.5; /* Safari, Opera */
  -moz-opacity: 0.50; /* FireFox */
  z-index: 20;
  height: 100%;
  width: 100%;
  background: white no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

div.view-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 600px;
  color: #555555;
  background-color: #757575;
  border: 10px solid #757575;
  top: 2px;
  font-size: 12px;
}

.sub-header {
  border-top: 6px solid #68b749;
  background-color: #555555;
  padding: 10px 0 10px 0;
}

.sub-header .sub-header-top {
  padding-left: 15px;
  margin-bottom: 8px;
}

.sub-header .page-title {
  color: white;
  font-size: 1.3em;
}

.view-container .view {
  background-color: #ffffff;
  left: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  top: 51px;
  bottom: 0;
}

.view-data {
  padding: 10px;
}

.xl-button-row {
  padding-right: 2px;
}

.xl-button {
  background-color: #757575;
  color: white;
  padding: 5px 22px;
  margin-top: 10px;
}

.xl-delete {
  display: inline-block;
  padding: 0;
}

.xl-delete img {
  display: block;
  opacity: 0.7;
}

.xl-delete:hover img {
  opacity: 1;
}

.row-indent {
  padding-top: 3px;
  padding-bottom: 3px;
}

.print-button {
  margin-bottom: 7px;
  vertical-align: super;
}

.print-button-label {
  padding: 10px;
}

.report-filter {
  margin-top: 5px;
}

.ci-list-with-labels-row {
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #D9D9D9;
  display: block;
  padding: 2px;
  margin: 5px;
  min-width: 500px;
}

.ci-list-with-labels-row div {
  padding: 3px;
}

.ci-list-ci-label {
  background-color: #f5f5f5;
  height: 28px;
  width: 120px;
  padding: 0 0 0 10px;
  border: 1px solid #C1C1C1;
  -webkit-appearance: none
}

.ci-list-ci-id {
  width: 100%;
}

.ci-list-ci-id span {
  margin-left: 10px;
}

.selectorComponent a.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none;
  background-color: #A5D7EE;
  border-radius: 0;
}

.selectorComponent {
  min-width: 300px;
  background-color: #EDEDED;
  -webkit-box-shadow: none;
  padding: 3px 4px 3px 4px;
  border: 1px solid #D9D9D9;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.selectorComponent .list-group-item {
  padding: 2px 2px 2px 5px;
  border-style: none;
  background-color: transparent;
}

.selectorComponent .list-group {
  background-color: #EEEFEF;
  border-style: none;
}

.select-filter-group {
  background-color: #565656;
  padding: 3px 4px 3px 4px;

}

.select-filter-group-label {
  background-color: #565656;
  border: none;
  color: #FFFFFF;
}

.select-filter-group-input {
  background-color: #EEEFEF;
  border: none;
}

.select-filter-group-icon {
  background-color: #EEEFEF;
  border-radius: 0;
  padding: 1px;
  border: none;
}

.select-results-group {
  overflow-y: auto;
  max-height: 300px;
  min-height: 300px;
}

.maximum-ci-reached {
  padding: 8px;
  margin-top: 5px;
}

#max-ci-selected-warning {
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #D9D9D9;
}

.discovery-failed {
  color: red;
}

.discovery-active {
  color: cornflowerblue;
}

.discovery-active img {
  margin: 0 0 3px 5px;
}

.discovery-done {
  color: limegreen;
}

.discovery-done img {
  margin: 0 0 5px 5px;
}

.embedded-link {
  margin: 0 5px 0 5px;
}

.embedded-link:hover {
  text-decoration: none;
  color: #757575;
}

.continue-link img {
  margin-top: -5px;
}

.ci-list-progress {
  margin-top: 15px;
}

.show-logs-popup pre {
  border: none;
  background-color: transparent;
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.show-logs-link {
  margin: 0 10px 0 0;
  color: red;
}

.show-logs-link img {
  margin: 0 0 5px 5px;
}

.error-section {
}

#compareCIs {
  float: right !important;
  margin-right: 5px;
}

.error-row {
  margin-top: 10px;
  padding: 5px 5px 5px 20px;
}

.vertical-aligned {
  vertical-align: middle;
}

.summary-legend {
  float: right;
}

.summary-legend-title {
  padding: 0 30px 0 0;
}

.summary-legend label {
  padding: 0 10px 0 10px;
}

.circle {
  padding: 1px 8px;
  font-size: 10px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #757575;
}

.light-green {
  background-color: lightgreen;
}

.steel-blue {
  background-color: steelblue;
}

.yellow {
  background-color: yellow;
}

.mediumvioletred {
  background-color: mediumvioletred;
}

.xl-link {
  text-decoration: none;
  color: #757575;
}

.missing-sign {
  width: 15px;
  height: 2px;
  background: #757575;
  display: inline-block;
  vertical-align: middle;
}

.right-aligned {
  float: right;
}

.narrow-alert-info {
  padding: 7px;
}